{% extends "SqueletteHtml/NavMenu.html" %}

{% block Dashboard %}
<div class="row">
    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

                <h2 class="panel-title">Production / Consommation</h2>
            </header>
            <div class="panel-body">
                <canvas id="bar-chart"></canvas>

                <script>
					new Chart(document.getElementById("bar-chart"), {
						type: 'bar',
						data: {
							labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
							datasets: [
								{
									label: "Population (millions)",
									backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
									data: [2478,5267,734,784,433]
								}
							]
						},
						options: {
							legend: { display: false },
							title: {
								display: true,
								text: 'Predicted world population (millions) in 2050'
							}
						}
					});
                </script>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>
                <h2 class="panel-title">Répartition de l'életricité</h2>
            </header>
            <div class="panel-body">
                <canvas id="pie-chart"></canvas>

                <script>
                    new Chart(document.getElementById("pie-chart"), {
                        type: 'pie',
                        data: {
                            datasets: [{
                                data: [25, 30, 45],
                                backgroundColor: ['#31AF9E', '#168300', '#D2A801']
                            }],
                            labels: [
                                'Eoliennes',
                                'Piles à combustibles',
                                'Solaire'
                            ]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                            }
                        }
                    });

                </script>
            </div>
        </section>
    </div>
</div>


{% endblock %}

