

<div class="col-md-6">
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">Production / Consommation</h2>
        </header>
        <div class="panel-body">

            <!-- Flot: Basic -->
            <div class="chart chart-md" id="flotDashBasic"></div>
            <script>

                var flotDashBasicData = [{
                    data: [
                        [0, 170],
                        [1, 169],
                        [2, 173],
                        [3, 188],
                        [4, 147],
                        [5, 113],
                        [6, 128],
                        [7, 169],
                        [8, 173],
                        [9, 128],
                        [10, 128]
                    ],
                    label: "Production",
                    color: "#0088cc"
                }, {
                    data: [
                        [0, 115],
                        [1, 124],
                        [2, 114],
                        [3, 121],
                        [4, 115],
                        [5, 83],
                        [6, 102],
                        [7, 148],
                        [8, 147],
                        [9, 103],
                        [10, 113]
                    ],
                    label: "Consommation",
                    color: "#2baab1"
                },
                ];

            </script>

        </div>
    </section>
</div>

